body {
	background-color: #000;
	color: #ccc;
}

#headerImage {
	background-image: url(../images/itmom.PNG);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 200px;
}

h3 {
	margin-bottom: 20px;
}

.btn-warning {
	margin-right: 10px;
	margin-top: 10px;
}

.btn-danger {
	margin-top: 10px;
}

#mainContent {
	padding: 20px 0px 0px 30px;
}

.pageTitle{
	font-family: 'Marcellus SC', serif;
}

#h1title {
	width: 411px;
	margin: auto;
	margin-top: 80px;
}

#gameContainer {
	width: 199px;
	margin: auto;
}